body{
    background-color: cadetblue;
}

#Container{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    border: 2px solid blue;
}

h1{
    color: green;
    text-align: center;

}

footer{
    background: blanchedalmond;
    text-shadow: 2px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}